replicaCount: 1

image:
  repository: acrcloudopspracticejkhfsh.azurecr.io/frontend
  pullPolicy: Always
  tag: "latest"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: cloudops-practice-tm-jkhfsh.trafficmanager.net
      paths:
        - path: /
          pathType: Prefix

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

# Frontend cần biết gọi API ở đâu (Chính là domain Traffic Manager /api)
env:
  REACT_APP_API_URL: "http://cloudops-practice-tm-jkhfsh.trafficmanager.net/api"