replicaCount: 1

image:
  repository: acrcloudopspracticejkhfsh.azurecr.io/backend
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/use-regex: "true"
    
  hosts:
    - host: cloudops-practice-tm-jkhfsh.trafficmanager.net
      paths:
        - path: /api(/|$)(.*)
          pathType: Prefix

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  DATABASE_URL: ""
  PORT: "3000"

autoscaling:
  enabled: false